/* 
@keyframes globalPanelReveal {
    from {
        opacity: 0;
        bottom: -48px;
    }
    to {
        opacity: 1;
        bottom: 0px;
    }
} */


.global-panel-root{
    position: absolute;
    bottom: 0px;
    /* opacity: 0; */
    background-color: #fff;
    z-index: 1;
    border-top: 1px solid var(--grey100);
    /* animation: 0.3s globalPanelReveal 0.15s forwards; */
}

.global-panel-handler {
    width: 100%;
    position: absolute;
    /* right: -2px; */
    height: 4px;
    left: 0;
    top: -2px;
    background-color: #ffffff00;
    transition: background-color 0.2s;
    cursor: ns-resize;
    user-select: none;
    transform: translateY(0px)!important;
}

.global-panel-handler:hover {
    background-color: var(--primary);
}

.constraint-pool-root {
    /* background-color: #f8f9fa;
    border: 1px solid #e1e2e5; */
    margin: 0;
    width: 100%;
    height: calc(100% - 40px);
    box-sizing: border-box;
    user-select: none;

    background: radial-gradient(var(--grey100) 0.8px, #fff 0.8px);
    background-size: 16px 16px, 16px 16px, 100% 6px, 16px 16px, 16px 16px;
    background-position: 9px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}


.x6-container {
    width: 100%;
    height: 100%;
}