.general-tooltip {
    color: #fff;
    display: inline-flex;
    align-items: center
}

.general-tooltip>code {
    font-family: var(--mono-font);
    background-color: #313030;
    border-radius: 2px;
    display: inline-block;
    padding: 2px 4px;
    margin: 0 0 0 4px
}

.general-tooltip>.keyboard-shortcut {
    color: #636568;
    display: inline-flex;
    align-items: center;
    margin-left: 16px;
    font-feature-settings: 'ss02'
}

.general-tooltip>.keyboard-shortcut>svg {
    color: #636568;
    margin: 0;
    display: inline-flex;
    align-items: center
}


.ideograph-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    height: 48px;
    width: 100%;
    background: #20222a;
    color: #fff;
    font-size: 14px;
    user-select: none;
    z-index: 999;
    position: relative;
}