/* @keyframes conceptPanelReveal {
    from {
        opacity: 0;
        left: -48px;
    }
    to {
        opacity: 1;
        left: 0px;
    }
} */

.concept-panel-root {
    /* width: 320px; */
    height: calc(100vh - 48px);
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
    /* opacity: 0; */
    background-color: #fff;
    z-index: 2;
    border-right: 1px solid var(--grey100);
    box-sizing: content-box;
    animation: 0.3s conceptPanelReveal 0.15s forwards;
}

.concept-panel-handler {
    height: 100%;
    position: absolute;
    left: -2px;
    width: 4px;
    top: 0;
    background-color: #ffffff00;
    transition: background-color 0.2s;
    cursor: ew-resize;
    user-select: none;
}

.concept-panel-handler:hover {
    background-color: var(--primary);
}

.ontology-create-button:hover {
    background-color: var(--grey50);
}

.ontology-create-button:hover>button, .ontology-create-button:hover>span>button {
    background-color: var(--grey50);
    visibility: visible !important;
}

.ontology-create-button>button:hover, .ontology-create-button>span>button:hover {
    background-color: var(--grey50);
}


.concept-tree-node {
    /* margin: 2px 4px 2px 4px; */
    /* border-radius: 3px; */
    height: 100%;
    user-select: none;
    cursor: pointer;
    font-size: 13px;
    padding: 8px 8px 8px 0;

    /* transition: background-color 0.1s; */
    display: flex;
    align-items: center;

}

.concept-tree-node:hover {
    background-color: var(--grey50);
}


.concept-tree-node-chev {
    align-items: center;
    display: flex;
}

.concept-tree-node-chev:hover {
    background-color: var(--grey100);
}

.tree-node-circle>circle {
    transition: r 0.2s;
    r: 8px;
}

.concept-tree-node:hover>.tree-node-circle>circle {
    r: 10px;
}

