.concept-panel-root{
    /* width: 320px; */
    height: calc(100vh - 48px);
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 2;
    border-right: 1px solid var(--grey100);
    box-sizing: content-box;
}

.concept-panel-handler {
    height: 100%;
    position: absolute;
    left: -2px;
    width: 4px;
    top: 0;
    background-color: #ffffff00;
    transition: background-color 0.2s;
    cursor: ew-resize;
    user-select: none;
}

.concept-panel-handler:hover {
    background-color: var(--primary);
}

.ontology-create-button:hover{
    background-color: #e1e2e5!important;
}

.ontology-create-button:hover>button, .ontology-create-button:hover>span>button{
    background-color: #e1e2e5!important;
    visibility: visible!important;
}

.ontology-create-button>button:hover, .ontology-create-button>span>button:hover{
    background-color: #c1c3c7!important;
}