/* @keyframes nodeScale {
    0% {
        r: 0!important;
        opacity: 0!important;
    }
    /* 60% {
        r: 0!important;
        opacity: 0!important;
    } 
} */

@keyframes textReveal {
    from {
        opacity: 0.2;
    }

    to {}
}



g.p-n>circle.constrain-ring {
    opacity: 0;
    stroke-width: 2px;
    fill: transparent;
}

g.p-n>text.alias {
    opacity: 0;
    visibility: none;
    /* display: none; */
    text-anchor: start;
    dominant-baseline: central;
    font-family: var(--mono-font);
    font-size: 14px;
    font-weight: 600;
    font-size: 12px;
}

g.p-n>text {
    pointer-events: none;
}

g.p-n>text.type {
    text-anchor: start;
    dominant-baseline: central;
    font-family: var(--font);
    font-size: 12px;
    font-weight: 500;
    animation: textReveal 0.5s;
}



g.p-n>circle.constrain-ring {
    opacity: 0;
    transition: opacity 0.16s, r 0.16s;
    r: 19px !important;
}

g.p-n[constrained=true]>circle.constrain-ring {
    r: 13px !important;
    opacity: 1;
}

g.p-n>circle.node {
    transition: r 0.16s;
    /* animation: nodeScale .2s; */
}

g.p-n[constrained=true]>circle.node {
    r: 10px !important;
}

g.p-n[aliased=true]>text.alias {
    opacity: 1;
    visibility: visible;
}


g.p-n>circle.selection {
    stroke-width: 2px;
    fill: #e1e2e5;
    opacity: 0;
    transition: opacity 0.16s, r 0.16s;
    r: 12px;
    mix-blend-mode: multiply;
}

g.p-n:hover>circle.selection {
    opacity: 0.4;
    r: 16px;
}

g.p-n[focused=true]:hover>circle.selection {
    opacity: 1;
    r: 18px;
}

g.p-n[focused=true]>circle.selection {
    opacity: 1;
    r: 18px;
}

g.p-n {
    cursor: pointer;
}



g.p-n[disabled=true] {
    opacity: 0.3;
    /* pointer-events: none; */
    cursor: not-allowed;
}


g.p-n[disabled=true]>circle.node {
    r: 6px !important;
}

g.p-n[disabled=true]>circle.constrain-ring {
    r: 9px !important;
}

g.p-n[disabled=true]>circle.text {
    opacity: 0;
}

g.p-n[disabled=true]>text {
    display: none;
}

g.p-n[disabled=true]>rect {
    display: none;
}