.panel-title-root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    /* pointer-events: none; */
    padding: 4px 8px 0 16px;
    box-sizing: initial;
    user-select: none;

}

.panel-desc {
    font-size: 14px;
    pointer-events: none;
    padding: 10px 16px 0;
    box-sizing: initial;
    user-select: none;
    line-height: 1.5em;
    color: var(--grey200);
}

.panel-title-tb {
    border-top: 1px solid var(--grey100);
}