@import url('https://www.apple.com/wss/fonts?family=SF+Mono&v=2');
@import url('https://rsms.me/inter/inter.css');

input::selection{
    background-color:#008cff;
    color: #fff;
}

.truncate {
    /* display :-webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1; */
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --font: 'Inter var', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'SF', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    --display-font: 'Inter var', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'SF', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    accent-color: var(--primary-color);
    font-family: var(--font);
    --mono-font: "SF Mono", SFMono-Regular, ui-monospace, -apple-system, BlinkMacSystemFont, monospace;

    --primary: #1870fb;

    --grey50: #f1f2f4;
    --grey100: #e1e2e5;
    --grey200: #aaa;
    --grey700: #636568;
}

code {
    font-family: var(--mono-font)
}

* {
    box-sizing: border-box;
    font-family: var(--font);
}


body.cursor-ew{
    cursor: ew-resize!important;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body.cursor-ns{
    cursor: ns-resize!important;
    user-select: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


.global-message {

    animation: snackbar-in 2000ms;


    background-color: #fff;
    /* border: 1px solid var(--grey100); */
    height: 48px;
    /* margin-top: 48; */
    padding: 0 16px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 16px;
    align-items: center;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4.8px 9.6px 0px, rgba(0, 0, 0, 0.12) 0px 0.6px 1px 0px;
}

.global-message>div>b {
    font-weight: 600;
}


@keyframes snackbar-in {
    0% {
        opacity: 0;
        transform: translateY(-8px);
    }
    5% {
        opacity: 1;
        transform: translateY(0px);
    }
    95% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(-8px);
    }
}

